.checkout-header-container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  left: 350px;
  right: 350px;
}

.checkout-left-section{
  
}
  .checkout-left-section > a {

  }
    .checkout-left-section > a > img{
      height: 35px;
    }